Source: haskell-distributive
Maintainer: Debian Haskell Group <pkg-haskell-maintainers@lists.alioth.debian.org>
Uploaders: Iulian Udrea <iulian@linux.com>
Priority: optional
Section: haskell
Rules-Requires-Root: no
Build-Depends: debhelper (>= 10),
 haskell-devscripts (>= 0.13),
 cdbs,
 ghc (>= 8),
 ghc-prof,
 libghc-base-orphans-dev (>= 0.5.2),
 libghc-base-orphans-dev (<< 1),
 libghc-base-orphans-prof,
 libghc-tagged-dev (>= 0.7),
 libghc-tagged-dev (<< 1),
 libghc-tagged-prof,
 libghc-generic-deriving-dev (>= 1.11) <!nocheck>,
 libghc-generic-deriving-dev (<< 2) <!nocheck>,
 libghc-hspec-dev (>= 2) <!nocheck>,
 libghc-hspec-dev (<< 3) <!nocheck>,
Build-Depends-Indep: ghc-doc,
 libghc-base-orphans-doc,
 libghc-tagged-doc,
Standards-Version: 4.6.1
Homepage: https://github.com/ekmett/distributive/
Vcs-Browser: https://salsa.debian.org/haskell-team/DHG_packages/tree/master/p/haskell-distributive
Vcs-Git: https://salsa.debian.org/haskell-team/DHG_packages.git [p/haskell-distributive]
X-Description: distributive functors
 This package provides a type class for distributive functors. These are the
 dual to traversable functors.

Package: libghc-distributive-dev
Architecture: any
Depends: ${haskell:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-distributive-prof
Architecture: any
Depends: ${haskell:Depends},
 ${misc:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}

Package: libghc-distributive-doc
Architecture: all
Section: doc
Depends: ${misc:Depends},
 ${haskell:Depends},
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
